<!DOCTYPE html>
<html lang="en">
<head>
	<title>mauricenicholson.com</title>
	<meta charset="utf-8">
	<link href="/static/styles.css" rel="stylesheet">
	<link rel="icon" href="/static/favicon.png"/>
  
	<link rel="apple-touch-icon" href="/static/touchicon-iphone-60x60.png">
	<link rel="apple-touch-icon" sizes="60x60" href="/static/touchicon-ipad-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="/static/touchicon-iphone-retina-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="/static/touchicon-ipad-retina-152x152.png">

	<script type="text/javascript">
	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-33705666-1']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
	</script>
</head>
<body>
	<p>
		Hey 👋, I'm <a href="http://mauricenicholson.com">Maurice Nicholson</a>, a technologist 👨‍💻 working in London.
	</p>
	
	<p>
		Download <a href="/static/Maurice%20Nicholson%20CV.docx">mv CV</a> or view <a href="http://www.linkedin.com/in/mauricenicholson">my LinkedIn profile</a>.
		I also have some stuff on <a href="https://github.com/maurice">GitHub</a>.
	</p>
	
	<p>
		Away from work I'm mad about yoga 🧘‍♂️, music 🎸 and the great outdoors 🌳.
	</p>
</body>
</html>