<!DOCTYPE html>
<html lang="en">
<head>
	<title>mauricenicholson.com</title>
	<meta charset="utf-8">
	<link href="/static/styles.css" rel="stylesheet">
</head>
<body>
	<p>
		I'm <a href="http://mauricenicholson.com">Maurice Nicholson</a>, a <span class="trait">beer-drinking</span>, <span class="trait">music-loving</span>, <span class="trait">computer programmer</span> working in London.

		Perhaps you're looking for my <a href="/static/Maurice_Nicholson_CV.doc">CV</a> or <a href="http://www.linkedin.com/in/mauricenicholson">LinkedIn profile</a>?

		I also have some stuff on <a href="https://github.com/maurice">GitHub</a> and <a href="https://bitbucket.org/maurice">Bitbucket</a>, and a somewhat neglected <a href="http://blog.mauricenicholson.com/">Blog</a>.
	</p>
</body>
</html>